# root
/*
!.gitignore
!.README.md
# 实验报告
!/实验报告
/实验报告/*
# exp1
!/exp1
/exp1/*
!*.h
!*.c
!*.cpp
!Makefile
# exp2
!/exp2
/exp2/*
!*.h
!*.c
!*.cpp
!Makefile
# exp3
!/exp3
/exp3/*
!*.h
!*.c
!*.cpp
!Makefile
# exp4
!/exp4
/exp4/*
!*.h
!*.c
!*.cpp
!Makefile
# exp5
!/exp5
/exp5/*
!*.h
!*.c
!*.cpp
!Makefile
# exp6
!/exp6
/exp6/*
!*.h
!*.c
!*.cpp
!Makefile